{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action='/account/password/update' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <!-- Notice that here we are looping over the NonFieldErrors and displaying
    them, if any exist -->
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Old Password:</label>
        {{with .Form.FieldErrors.oldPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='old password'>
    </div>
    <div>
        <label>New Password:</label>
        {{with .Form.FieldErrors.newPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='new password'>
    </div>
    <div>
        <label>Confirm:</label>
        {{with .Form.FieldErrors.confirmPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirm password'>
    </div>
    <div>
        <input type='submit' value='Change Password'>
    </div>
</form>
{{end}}